.item {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 24px 0.5fr 0.5fr 24px;
    gap: 10px;
    padding-bottom: 1rem;

    &__add-icon {
        background-image: url(../../icons/add-or-plus.png);
        background-repeat: no-repeat;
    }

    &__title {
        color: #282828;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    &__role {
        text-align: right;
    }

    &__delete-icon {
        background-image: url(../../icons/delete.svg);
        background-repeat: no-repeat;
        background-size: 20px;
    }
}